<app-nav></app-nav>
<body>
    <header> 
      <div class="container">
        <div class="content">
            <h1 style="text-align: center;margin: 10px;">VaxGuard</h1>
            <p>Welcome to VaxGuard, your trusted platform for seamless COVID-19 vaccination bookings. Take control of your health and schedule your vaccination appointments effortlessly. Whether you're securing your first dose or managing booster shots, our user-friendly interface ensures a smooth and convenient booking experience. Say goodbye to uncertainties and embrace a protected future. Join VaxGuard today and play your part in building a safer, healthier tomorrow.</p>
           <br> <a routerLink="/booking"><button style="text-align: center;margin: 10px;align-items: center;">Your appointment</button></a>
        </div>
        <div class="image">
            <img src="../../../assets/vaccine.webp" alt="Image">
        </div>
        
    </div>
    </header> 
    <br>

    <div class="container-vac">
      <h2 style="text-align: center;align-items: center;justify-content: center;">Steps that are done</h2>
      <div class="row">
         <div class="col-sm">
          <a >1. Vaccination Inform and Sign Up Vaxi - COVID Vaccination and M X
             </a></div>
         <div class="col-sm">
          <a >2. 1 st Dose for Building Immunity
           </a></div>
         <div class="col-sm">
          <a >3. 2 nd Dose receive on 21st day 
           </a></div>
         <div class="col-sm">
          <a >4. 99+ On a day 28 Full Immunity 
           </a></div>
      </div>
    </div>

<!-- covid-19-vaccine.component.html -->
<div class="covid-19-vaccine">
  <div class="container-va">
     <div class="image-section">
         <img src="../../../assets/v.webp" alt="COVID-19 Vaccine" class="vaccine-image">
     </div>
     <div class="content-section">
         <h1>Type COVID-19 Vaccines:</h1>
         <br>
         <h2>Helps protect you from getting COVID-19</h2>
         <br>
         
         <div class="vaccine-details">
             <p>By choosing vaccination, you're not only prioritizing your health but also actively participating in the global effort to create a safer and healthier world. Remember, staying protected through vaccination is a collective responsibility. Embrace this powerful tool for a brighter and healthier tomorrow.</p>
         </div>
     </div>
  </div>
 </div>

  <!-- footer -->
  <footer>
    <span>Follow Us </span>
    <br>
    <div class = "social-links">
      <br>
      <a href = "#"><img src="../../../assets/icons8-facebook-64.png"></a>
      <a href = "#"><img src="../../../assets/icons8-twitter-squared-48.png"></a>
      <a href = "#"><img src="../../../assets/icons8-instagram-48.png"></a>
      <a href = "#"><img src="../../../assets/icons8-pinterest-48.png"></a>
    </div>
    
  </footer>

</body>



